
.DS_Store
platform/.DS_Store
src/.DS_Store
training/train.c
training/train
training/something.bmp
training/original/p1.png
training/original/p1.bmp
training/original/p0.png
training/original/p0.bmp
training/makefile
training/main.o
training/genann/genann.h
training/genann/genann.c
training/genann.o
training/FilmProfileFJ.h
training/FilmProfileFJ
training/filmconvert/p1.tif
training/filmconvert/p1.bmp
training/filmconvert/p0.tif
training/filmconvert/p0.bmp
training/bird.bmp
stripes/stripes-bad.c
stripes/raw2dng-good.c
platform/qt/MLVApp.pro.user
platform/bpm/80000331_5040x2149.bpm
platform/bpm/80000331_1992x1312.bpm
platform/bpm/80000331_1808x759.bpm
platform/bpm/80000331_1808x2031.bpm
platform/bpm/80000285_2080x1318.bpm
platform/bpm/80000218_4256x610.bpm
platform/bpm/80000218_2944x1212.bpm
platform/bpm/80000218_2040x793.bpm
platform/bpm/80000218_2040x1268.bpm
osx_installer/create-dmg-master/support/template.applescript
osx_installer/create-dmg-master/support/dmg-license.py
osx_installer/create-dmg-master/support/brew-me.sh
osx_installer/create-dmg-master/sample
osx_installer/create-dmg-master/README.md
osx_installer/create-dmg-master/LICENSE
osx_installer/create-dmg-master/create-dmg
osx_installer/create-dmg-master/builder/create-dmg.builder
80000285_2080x1318.bpm
80000218_2040x1268.bpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/*
platform/build-MLVApp-Desktop_Qt_5_15_3_llvm16OMP_64bit-Release/*
platform/build-MLVApp-Desktop_Qt_5_15_10_llvm16OMP_64bit-Release/*
