
.DS_Store
platform/.DS_Store
src/.DS_Store
training/train.c
training/train
training/something.bmp
training/original/p1.png
training/original/p1.bmp
training/original/p0.png
training/original/p0.bmp
training/makefile
training/main.o
training/genann/genann.h
training/genann/genann.c
training/genann.o
training/FilmProfileFJ.h
training/FilmProfileFJ
training/filmconvert/p1.tif
training/filmconvert/p1.bmp
training/filmconvert/p0.tif
training/filmconvert/p0.bmp
training/bird.bmp
stripes/stripes-bad.c
stripes/raw2dng-good.c
platform/qt/MLVApp.pro.user
platform/bpm/80000331_5040x2149.bpm
platform/bpm/80000331_1992x1312.bpm
platform/bpm/80000331_1808x759.bpm
platform/bpm/80000331_1808x2031.bpm
platform/bpm/80000285_2080x1318.bpm
platform/bpm/80000218_4256x610.bpm
platform/bpm/80000218_2944x1212.bpm
platform/bpm/80000218_2040x793.bpm
platform/bpm/80000218_2040x1268.bpm
osx_installer/create-dmg-master/support/template.applescript
osx_installer/create-dmg-master/support/dmg-license.py
osx_installer/create-dmg-master/support/brew-me.sh
osx_installer/create-dmg-master/sample
osx_installer/create-dmg-master/README.md
osx_installer/create-dmg-master/LICENSE
osx_installer/create-dmg-master/create-dmg
osx_installer/create-dmg-master/builder/create-dmg.builder
80000285_2080x1318.bpm
80000218_2040x1268.bpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/uic_wrapper.sh
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Resources/MLVAPP.icns
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Resources/MLV.icns
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Resources/MASXML.icns
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Resources/MARXML.icns
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Resources/empty.lproj
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/PkgInfo
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/TIF_CLEAN.command
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/raw2mlv
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/PROXY_CLEANER.command
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/MLV App
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/HDR_MOV.command
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/ffmpeg
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/enfuse_average.command
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/Info.plist
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/Makefile
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/__MACOSX/._ffmpeg
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_UserManualDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_TranscodeDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_StatusFpmDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_StatusDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_SingleFrameExportDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_RenameDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_ReceiptCopyMaskDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_PixelMapListDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_OverwriteListDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_MainWindow.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_InfoDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_FcpxmlSelectDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_FcpxmlAssistantDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_ExportSettingsDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_EditSliderValueDialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.ui/ui_cupdaterdialog.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.rcc/qrc_ressources.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.rcc/qrc_darkstyle.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.qmake.stash
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/xtransfast.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/wb_conversion.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/WaveFormMonitor.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/vng4.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/video_mlv.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/VectorScope.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/UserManualDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/Updater.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/TranscodeDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/tinyexpr.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/TimeCodeLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/stripes.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/StatusFpmDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/StatusDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/spline_helper.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/sobel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/SingleFrameExportDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/SessionModel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/Scripting.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ScopesLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ResizeLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/RenderFrameThread.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/RenameDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ReceiptSettings.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ReceiptCopyMaskDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/rcd.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/RBFilterPlain.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/rbf_wrapper.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/raw_processing.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/QRecentFilesMenu.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/qrc_ressources.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/qrc_darkstyle.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/pixelproc.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/PixelMapListDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/patternnoise.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/OverwriteListDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/NoScrollSpinBox.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/NoScrollSlider.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/NoScrollComboBox.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/MoveToTrash.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_UserManualDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_Updater.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_TranscodeDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_StatusFpmDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_StatusDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_SingleFrameExportDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_SessionModel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_Scripting.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ScopesLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ResizeLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_RenderFrameThread.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_RenameDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ReceiptCopyMaskDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_QRecentFilesMenu.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_PixelMapListDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_OverwriteListDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_NoScrollSpinBox.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_NoScrollSlider.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_NoScrollComboBox.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_MainWindow.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_InfoDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_HueVsDiagram.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_GraphicsZoomView.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_GraphicsPolygonMoveItem.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_GraphicsPickerScene.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_FocusPixelMapManager.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_FcpxmlSelectDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_FcpxmlAssistantDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ExportSettingsDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_EditSliderValueDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_DownloadManager.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_DoubleClickLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_Curves.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ColorWheel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_ColorToolButton.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/moc_AudioPlayback.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/matrix.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/markesteijn.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/MainWindow.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/main.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/lmmse.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/llrawproc.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/lj92.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/librtprocesswrapper.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/JumpSlider.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/InfoDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/igv.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/HueVsDiagram.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/hphd.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/Histogram.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/hist.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/hilite_recon.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/GraphicsZoomView.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/GraphicsPolygonMoveItem.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/GraphicsPickerScene.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/GradientElement.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/genann.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/frame_caching.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/FocusPixelMapManager.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/filter.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/FcpxmlSelectDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/FcpxmlAssistantDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ExportSettingsDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/EditSliderValueDialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/dualiso.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/DownloadManager.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/DoubleClickLabel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/dng.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/denoiser_2d_median.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/debayer.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/dcb.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/darkframe.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/Curves.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/cupdaterdialog.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/cube_lut.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/CrossElement.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/cosine_interpolation.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/conv.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ColorWheel.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ColorToolButton.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ColorAberrationCorrection.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ClipInformation.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/camera_id.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/CA_correct_RT.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/CA_correct.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/border.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/blur_threaded.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/bayerfast.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/basic.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/BadPixelFileHandler.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/avf_lib.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/AudioWave.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/AudioPlayback.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/audio_mlv.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/amaze_demosaic.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/amaze.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ahdOld.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.obj/ahd.o
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_UserManualDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_Updater.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_TranscodeDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_StatusFpmDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_StatusDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_SingleFrameExportDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_SessionModel.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_Scripting.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ScopesLabel.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ResizeLabel.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_RenderFrameThread.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_RenameDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ReceiptCopyMaskDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_QRecentFilesMenu.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_predefs.h
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_PixelMapListDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_OverwriteListDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_NoScrollSpinBox.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_NoScrollSlider.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_NoScrollComboBox.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_MainWindow.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_InfoDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_HueVsDiagram.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_GraphicsZoomView.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_GraphicsPolygonMoveItem.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_GraphicsPickerScene.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_FocusPixelMapManager.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_FcpxmlSelectDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_FcpxmlAssistantDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ExportSettingsDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_EditSliderValueDialog.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_DownloadManager.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_DoubleClickLabel.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_Curves.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ColorWheel.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_ColorToolButton.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/.moc/moc_AudioPlayback.cpp
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/releases
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/pixel_maps
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/ffmpegIntel
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_3072x2517.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_3072x1305.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_2872x1219.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1872x2211.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1872x1190.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1808x759.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1808x2207.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1808x2206.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1808x2206.bpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1808x1951.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000331_1512x1864.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_clangOMP_64bit-Release/MLV App.app/Contents/MacOS/80000326_1808x1189.fpm
platform/build-MLVApp-Desktop_Qt_5_15_3_llvm15OMP_64bit-Release/*
