# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.fuse_hidden*
.directory
.Trash-*
.nfs*

training/train.c
training/train
training/something.bmp
training/original/p1.png
training/original/p1.bmp
training/original/p0.png
training/original/p0.bmp
training/makefile
training/main.o
training/genann/genann.h
training/genann/genann.c
training/genann.o
training/FilmProfileFJ.h
training/FilmProfileFJ
training/filmconvert/p1.tif
training/filmconvert/p1.bmp
training/filmconvert/p0.tif
training/filmconvert/p0.bmp
training/bird.bmp
stripes/stripes-bad.c
stripes/raw2dng-good.c
osx_installer/create-dmg-master/support/template.applescript
osx_installer/create-dmg-master/support/dmg-license.py
osx_installer/create-dmg-master/support/brew-me.sh
osx_installer/create-dmg-master/sample
osx_installer/create-dmg-master/README.md
osx_installer/create-dmg-master/LICENSE
osx_installer/create-dmg-master/create-dmg
osx_installer/create-dmg-master/builder/create-dmg.builder
80000285_2080x1318.bpm
80000218_2040x1268.bpm
platform/bpm/*


# Created by https://www.toptal.com/developers/gitignore/api/qt
# Edit at https://www.toptal.com/developers/gitignore?templates=qt

### Qt ###
# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
*build*
*.qm
*.prl

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# QtCreator 4.8< compilation database
compile_commands.json

# QtCreator local machine specific files for imported projects
*creator.user*
*_qmlcache.qrc
